$primary: #1e293b ;
.navbar-nav{
    display:flex !important;
    gap:2rem !important;
   
}

.nav-link{
    color:white !important;
}

.nav-link.active:focus-visible{
    outline:2px solid #ffffff;
    outline-offset: 2px;
}
.nav-link:hover, .navbar-brand:hover{
    text-decoration: underline;
    color:white !important;
   

}
header{
    position: sticky;
    top:0;
    z-index:1;
}
@import '../node_modules/bootstrap/scss/bootstrap';
