body{
    background-color: #0f172a;
}



.main-screen-container{
    display: flex;
    justify-content: center;
    align-items: center; 
    height:100vh;
}

.main-screen-content{
    display: block;
    width:50%;
}
    


#myname{
    font-family: 'Comfortaa', 'Courier New', 'Courier', 'monospace';
    padding-top:1rem;
    color:white;
    font-size: 2rem;

}

a{
    text-decoration:none; /*Gets rid of underline of links*/
}

/* Uses flex to put the image next to the about me paragraph */
#aboutme{
    display:flex;
    gap:1rem;
    margin:1rem;

}

#profilePicture{
    width: 70%;
}



#githubIcon{
    width:2rem; 
    background-color: black;
    
    
    
}

#linkedInIcon{
    width:2.4rem; 
    background-color: white;
}



aside{
    width:fit-content;
}



#socials{
    display:flex;
    gap:1rem;
    
}








