
#myname{
    font-family: 'Comfortaa', 'Courier New', 'Courier', 'monospace';
    padding-top:1rem;
    color:white;
    font-size: 2rem;

}

a{
    text-decoration:none; /*Gets rid of underline of links*/
}



/* Creates spacing to increase readability */
.headline{
    width: 100%;
    display: flex;
    gap: 1em;
   
}

.blogTitle{
    font-family: 'Google Sans', 'Courier New', 'Courier', 'monospace';
  
}

.blogEntry{
    padding: 1em;
}

/* Styles page grid layout */
#pageGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'header'
                        'blogs'
                        'footer';
}

header{
    grid-area: header;
}

#blogs{
    grid-area: blogs;
}

footer{
    grid-area: footer;
}