/* styles the nav bar and my name in the header */
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    gap: 2rem;
    background-color: rgb(0, 179, 255);
   
}

/* Styles the list of links in header */

.topbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
    background-color: rgb(0, 179, 255);
    list-style: none;
    padding-top:1rem;
}

.topbar a{
    color: white; /*Makes colour of links in header white*/
}

#myname{
    font-family: 'Comfortaa', 'Courier New', 'Courier', 'monospace';
    padding-top:1rem;
    color:white;
    font-size: 2rem;

}

a{
    text-decoration:none; /*Gets rid of underline of links*/
}



article{
    padding-left: 1rem;
}

/* Indents bullet points */
article ul{
    margin: 1em;
}



/* Sets colour of text for project links to black */
.projectLink{
    color: black; 
}

/* Creates spacing to increase readability */
.headline{
    display: inline-block;
    margin-top: 1em;
}

.date{
    font-family: 'Playfair', 'Courier New', 'Courier', 'monospace';
    padding-left: 2em; /*Creates space to make dates more visible*/
}

/*Makes it easier to process different sections*/
h2{
    background-color: rgb(154, 242, 242);
}

/* Defines page grid layout */
#pageGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'header'
                          'title'
                          'experience'
                          'projects'
                          'volunteering'
                          'cv'
                          'footer';
}

header{
    grid-area: header;
}

/*Styles the title of the page*/
#title{
    text-align: center;
    text-decoration: underline;
    padding: 1rem;
    font-size: 2rem;
    grid-area: title;
}

#experience{
    grid-area: experience;
}

#projects{
    grid-area: projects;
}

#volunteering{
    grid-area: volunteering;
}

#cv{
    grid-area: cv;
}

footer{
    grid-area: footer;
}


#loggedInMessage{
    font-family: 'Comfortaa', 'Courier New', 'Courier', 'monospace';
    color:white;
    font-size:1.5rem;
    background-color: rgb(0, 179, 255);

}