

#myname{
    font-family: 'Comfortaa', 'Courier New', 'Courier', 'monospace';
    padding-top:1rem;
    color:white;
    font-size: 2rem;

}



a{
    text-decoration:none; /*Gets rid of underline of links*/
}



/* Makes bullet points visible */
article{
    padding-left: 1rem;
}

/* Styles page grid layout */
#pageGrid{
    display:grid;
    grid-template-columns: 10px 1fr;
    grid-template-areas: 'header header'
                        'title .'
                        'lineSegment1 uni'
                        '. .'
                        'lineSegment2 sixthForm'
                        'footer footer';
}

header{
    grid-area: header;
}

/*Styles the title of the page*/
#title{
    text-align: center;
    text-decoration: underline;
    padding: 1rem;
    font-size: 2rem;
    grid-area: title;
}

#university{
    grid-area: uni;
}
 #sixthForm{
    grid-area: sixthForm;
 }
 footer{
    grid-area: footer;
 }
