

#myname{
    font-family: 'Comfortaa', 'Courier New', 'Courier', 'monospace';
    padding-top:1rem;
    color:white;
    font-size: 2rem;

}

a{
    text-decoration:none; /*Gets rid of underline of links*/
}



article{
    padding-left: 1rem;
}

/* Indents bullet points */
article ul{
    margin: 1em;
}



/* Sets colour of text for project links to black */
.projectLink{
    color: black; 
}

/* Creates spacing to increase readability */
.headline{
    display: inline-block;
    margin-top: 1em;
}

.date{
    font-family: 'Playfair', 'Courier New', 'Courier', 'monospace';
    padding-left: 2em; /*Creates space to make dates more visible*/
}



/* Defines page grid layout */
#pageGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'header'
                          'title'
                          'experience'
                          'projects'
                          'volunteering'
                          'cv'
                          'footer';
}

header{
    grid-area: header;
}

/*Styles the title of the page*/
#title{
    text-align: center;
    text-decoration: underline;
    padding: 1rem;
    font-size: 2rem;
    grid-area: title;
}

#experience{
    grid-area: experience;
}

#projects{
    grid-area: projects;
}

#volunteering{
    grid-area: volunteering;
}

#cv{
    grid-area: cv;
}

footer{
    grid-area: footer;
}