/* styles the nav bar and my name in the header */
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    gap: 2rem;
    background-color: rgb(0, 179, 255);
}

/* Styles the list of links in header */

.topbar{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 1em;
    background-color: rgb(0, 179, 255);
    list-style: none;
    padding-top:1rem;
}

.topbar a{
    color: white; /*Makes colour of links in header white*/
}

#myname{
    font-family: 'Comfortaa', 'Courier New', 'Courier', 'monospace';
    padding-top:1rem;
    color:white;
    font-size: 2rem;

}

a{
    text-decoration:none; /*Gets rid of underline of links*/
}


/*Styles the title of the page*/
#title{
    text-align: center;
    text-decoration: underline;
    padding: 1rem;
    font-size: 2rem;
    grid-area: title;
}


/* centers form and makes adjusts its width */
form{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    background-color: aqua;
} 

/* Sets width to 40% of parent to make form responsive */
#email, #password{
    width: 100%; 
}

#loginButton{
    background-color: blue;
    color: white;
    padding: 1em;
    margin: 1em;
}

/* Gets rid of default border */
fieldset{
    border:none; 
}

/* Styles page layout */
#pageGrid{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 'header'
                         'title'
                         'form'
                         'footer';

}

header{
    grid-area: header;
}

#loginForm{
    grid-area: form;
}
footer{
    grid-area: footer;
}