body{
    background-color: #0f172a;
    
}


#myname{
    font-family: 'Comfortaa', 'Courier New', 'Courier', 'monospace';
    padding-top:1rem;
    color:white;
    font-size: 2rem;

}

a{
    text-decoration:none; /*Gets rid of underline of links*/
}



/* Creates spacing to increase readability */
.headline{
    display: flex;
    flex-direction: column;
}

.date{
    padding-left: 1em; /*Creates space to make dates more visible*/
    font-size: 70%;
}

.blogTitle{
    font-family: 'Google Sans', 'Courier New', 'Courier', 'monospace';
  
}

.blogEntry{
    padding: 1em;
}

/* Styles page grid layout */
#pageGrid{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-areas: 'header header header'
                       
                        '. blogs .'
                        'footer footer footer';
}

header{
    grid-area: header;
}

#blogs{
    grid-area: blogs;
}

footer{
    grid-area: footer;
   
}
article{
    display: block;
    margin: 1rem;
    border: 0.25em solid black;
    border-radius:5%;
    background-color: #1e293b;
}