body{
    background-color: #0f172a;
    
}


/* styles screenshots for each project*/
.screenshot{
    
    width:60%; 
    opacity: 1;
    transition:opacity 0.2s ease;
    display: block;
    margin:1em;
   
}
.screenshot:hover{
    opacity:0.7;
}




/* Styles tags for each project */
.tag{
    border: 0.1rem solid black;
    border-radius: 25%;
    background-color:black;
    color: lightgrey;
    margin-right:1rem;
}


#myname{
    font-family: 'Comfortaa', 'Courier New', 'Courier', 'monospace';
    padding-top:1rem;
    color:white;
    font-size: 2rem;

}

a{
    text-decoration:none; /*Gets rid of underline of links*/
}



article{
    padding-left: 1rem;
}

/* Indents bullet points */
article ul{
    margin: 1em;
}



/* Sets colour of text for project links to black */
.projectLink{
    color: black; 
}

/* Creates spacing to increase readability */
.headline{
    display: flex;
    flex-direction: column;
    margin-top: 1em;
}

.date{
    padding-left: 1em; /*Creates space to make dates more visible*/
    font-size: 70%;
}

/*Makes it easier to process different sections*/
section{
    display: block;
    margin: 1rem;
    border: 0.25em solid black;
    border-radius:5%;
    background-color: #1e293b;

}
section h2{
   
    width:fit-content;

    margin-left:auto;
    margin-right:auto;

}

/* Defines page grid layout */
#pageGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 0.1rem 1fr 1fr;
    grid-template-areas: 'header header header header header'
                          
                          'experience experience . projects projects'
                          'volunteering volunteering . projects projects'
                          'cv cv . projects projects'
                          'footer footer footer footer footer';
}

header{
    grid-area: header;
}



#experience{
    grid-area: experience;
}

#projects{
    grid-area: projects;
}

#volunteering{
    grid-area: volunteering;
}

#cv{
    grid-area: cv;
}

footer{
    grid-area: footer;
  
    
}




